<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
      <add key="ADMIN_MODE" value="false"/>
      <add key="SecurityKey" value="natbi_linename_lcd_SecurityKey"/>
      <add key="ClientSettingsProvider.ServiceUri" value=""/>
      <add key="PortUdpListener" value="9126"/>
      <add key="APPId" value="4d53bce03ec34c0a911182d4c228ee6c"/>
      <add key="APIKey" value="A93reRTUJHsCuQSHR+L3GxqOJyDmQpCgps102ciuabc="/>
      <!--<add key="URL" value="http://192.168.1.115:1133/api/"/>-->
      <!--<add key="URL" value="http://localhost:1133/api/"/>-->
      <add key="URL" value="http://localhost:5470/api/"/>

    </appSettings>
</configuration>
