<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
			<section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<DevExpress.LookAndFeel.Design.AppSettings>
			<setting name="DefaultAppSkin" serializeAs="String">
				<value>Skin/Office 2010 Blue</value>
			</setting>
			<setting name="DefaultPalette" serializeAs="String">
				<value></value>
			</setting>
			<setting name="TouchUI" serializeAs="String">
				<value></value>
			</setting>
			<setting name="CompactUI" serializeAs="String">
				<value></value>
			</setting>
			<setting name="TouchScaleFactor" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DirectX" serializeAs="String">
				<value></value>
			</setting>
			<setting name="RegisterUserSkins" serializeAs="String">
				<value></value>
			</setting>
			<setting name="RegisterBonusSkins" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="FontBehavior" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DefaultAppFont" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DPIAwarenessMode" serializeAs="String">
				<value></value>
			</setting>
			<setting name="CustomPaletteCollection" serializeAs="Xml">
				<value />
			</setting>
		</DevExpress.LookAndFeel.Design.AppSettings>
	</applicationSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<connectionStrings>
		<add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;IMEX=1;HDR=YES'" />
		<add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;IMEX=1;HDR=YES'" />
		<add name="strCnn_ln (NtbSoft.ERP.Web)" connectionString="XpoProvider=MSSqlServer;data source=TRANHUUPHAP\SQLEXPRESS;user id=;password=;initial catalog=PMSSTYLE_CCDC;Persist Security Info=true" />
	</connectionStrings>
	<appSettings>
		<add key="ADMIN_MODE" value="false" />
		<add key="SecurityKey" value="natbi_linename_lcd_SecurityKey" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="PortUdpListener" value="9126" />
		<add key="APPId" value="4d53bce03ec34c0a911182d4c228ee6c" />
		<add key="APIKey" value="A93reRTUJHsCuQSHR+L3GxqOJyDmQpCgps102ciuabc=" />
		<add key="testMode" value="true" />
		<add key="URL" value="http://localhost:5485/api/" />
		<!--<add key="URL" value="http://125.234.113.66:9235/api/" />-->

		
		<add key="HostDH" value="http://localhost:5485" />
		<add key="URLV2" value="http://localhost:5485" />
		<add key="HostQty" value="125.234.113.66:9240" />
		<!--<add key="URL" value="http://103.154.63.16:9237/api/" />-->
		
		<add key="URL_UP" value="http://192.168.1.251:9237/Content/SourceUpdateQLSX/" />
		<add key="File_UP" value="QLDH" />
		<add key="URL_KTXuatHang" value="http://localhost:5485/BienBanHangXuat/IndexV2" />
		<add key="URL_TheoDoiXH" value="http://localhost:5485/TheoDoiHangXuat/Index" />
		<add key="URL_NhanSP" value="http://localhost:5485/NhanHangGiaCong/Index" />
		<add key="URL_NhanKien" value="http://localhost:5485/NhanHangGiaCong/SoKien" />
		<add key="URL_KhuVucKho" value="http://localhost:5485/SoDoKho/SoDoTong" />
		<add key="URL_LCNoiBo" value="http://localhost:5485/BienBanKiemTraNoiBo/Index" />
		<add key="main" value="http://localhost:5485/api/sqlQ/getObj" />
		<add key="DVSX_3" value="http://192.168.3.253:20241/api/sqlQ/getObj" />
		<add key="DVSX_2" value="http://192.168.3.253:20242/api/sqlQ/getObj" />
		<add key="DVSX_1" value="http://192.168.3.253:20243/api/sqlQ/getObj" />
		<add key="DVSX_5" value="http://192.168.3.253:20244/api/sqlQ/getObj" />
		<add key="DH" value="http://localhost:5485/api/sqlQ/getObj" />
		<add key="web_BCTongQuanUrl" value="http://localhost:5485/bao-cao-tong-hop/bao-cao-tong-quan-san-xuat-tgi" />
		<add key="web_BCTienDoUrl" value="http://localhost:5485/bao-cao-tong-hop/bao-cao-tien-do" />
		<add key="web_BCNSDTUrl" value="http://localhost:5485/bao-cao-tong-hop/bao-cao-nang-suat-doanh-thu" />
		<add key="web_BCCLMHChuyenUrl" value="http://localhost:5485/bao-cao-tong-hop/bao-cao-chat-luong-ma-hang-tren-chuyen" />
		<add key="web_BCCLMHSauUiUrl" value="http://localhost:5485/bao-cao-tong-hop/bao-cao-chat-luong-ma-hang-sau-ui" />
		<add key="web_BCNKThanhPhamUrl" value="http://localhost:5485/bao-cao-tong-hop/bao-cao-nhap-kho-tp" />
		<add key="web_BCDongThungUrl" value="http://localhost:5485/bao-cao-tong-hop/bao-cao-dong-thung" />
		<add key="web_BCKHCatNgayUrl" value="http://localhost:5485/bao-cao-tong-hop/bao-cao-ke-hoach-cat-ngay" />
		<add key="web_BCTiLeMHLoiUrl" value="http://localhost:5485/bao-cao-tong-hop/bao-cao-ma-hang-loi-tren-chuyen-may" />
		<add key="web_BCThoiGianHaoPhiUrl" value="http://localhost:5485/bao-cao-tong-hop/bao-cao-thoi-gian-hao-phi" />
		<add key="web_BCNhanSuUrl" value="http://localhost:5485/bao-cao-tong-hop/bao-cao-nhan-su" />
		<add key="URL_PXUATHANG" value="http://localhost:5485/XuatHangNPL/Index" />
		<add key="URL_BBMK" value="http://localhost:5485/BienBanMoKien/BienBanMoKienNLV2" />
		<add key="URL_PXHPL" value="http://localhost:5485/XuatHangNPL/XuatHangPL" />
		<add key="URL_BBMKPL" value="http://localhost:5485/BienBanMoKien/BienBanMoKienPLV2" />
		<add key="URL_THNL" value="http://localhost:5485/ThuHoiNPL/Index" />
		<add key="URL_THPL" value="http://localhost:5485/ThuHoiNPL/ThuHoiPL" />
		<add key="URL_TQNL" value="http://localhost:5485/TongQuanVatTuNPL/Index" />
		<add key="URL_TQPL" value="http://localhost:5485/TongQuanVatTuNPL/VatTuPhuLieu" />
		<add key="URL_TQKHOPL" value="http://localhost:5485/TongHopNPL/index" />
		<add key="URL_InItKhoNPL" value="http://localhost:5485/ViTriKho/ViTriKho" />
		<add key="URL_DetailKhoNPL" value="http://localhost:5485/ViTriKho/NhapViTri" />
		<add key="URL_KiemPhuLieu" value="http://localhost:5485/NguyenPhuLieu/Monitoring" />
		<add key="URL_KiemVai" value="http://localhost:5485/NguyenPhuLieu/KiemVai" />
		<add key="URL_BCPhuLieu" value="http://localhost:5485/NguyenPhuLieu/BCPhuLieu" />
		<add key="URL_BCKiemVai" value="http://localhost:5485/NguyenPhuLieu/BCKiemVai" />
		<add key="URL_SDK" value="http://localhost:5485/ViTriKho/TongQuanKhoNPL" />
		<add key="URL_KiemVTNL" value="http://localhost:5485/NguyenPhuLieu/BCKiemVaiV2" />
		<add key="URL_KiemVTPL" value="http://localhost:5485/QtyKiemPL/PhieuKiem" />
		<add key="URL_PKKNL" value="http://localhost:5485/DanhSachVatTuKiemKe/" />
		<add key="URL_PhieuVTKKPL" value="http://localhost:5485/DanhSachVatTuKiemKe/DanhSachVatTuKiemKePL" />
		<add key="URL_DangKyVTNL" value="http://localhost:5485/DangKyVatTu/index" />
		<add key="URL_DangKyVTPL" value="http://localhost:5485/DangKyVatTu/DangKyVatTuPL" />
		<add key="URL_XacNhanHangXuatNL" value="http://localhost:5485/XacNhanHangXuat/index" />
		<add key="URL_XacNhanHangXuatPL" value="http://localhost:5485/XacNhanHangXuat/XacNhanPhuLieu" />
		<add key ="URL_PheDuyet" value ="http://localhost:5485/PheDuyet/DuyetModule"/>
		<add key="URL_BCPhuLieu" value="http://localhost:5485/NguyenPhuLieu/BCPhuLieu" />
		<add key="URL_BCKiemVai" value="http://localhost:5485/NguyenPhuLieu/BCKiemVai" />
		<add key="URL_SDK" value="http://localhost:5485/ViTriKho/TongQuanKhoNPL" />
		<add key="URL_KiemVTNL" value="http://localhost:5485/NguyenPhuLieu/BCKiemVaiV2" />
		<add key="URL_KiemVTPL" value="http://localhost:5485/QtyKiemPL/PhieuKiem" />
		<add key="TyGiaTime" value="08:00" />
		<add key="URL_DG_NCC" value="http://localhost:5485/POMuaHang/TongQuanDanhGia" />
		<add key="URL_TD_NCC" value="http://localhost:5485/POMuaHang/TongQuanPhieuTheoDoi" />
		<add key="URL_DG_LV" value="http://localhost:5485/POMuaHang/TongQuanDanhGiaNoiLamViec" />
		<add key ="URL_WIP" value ="http://localhost:5485/WipDonHang"/>
		<add key="URL_CAPTHEMNPL" value="http://localhost:5485/DeNghiCapThemNPL/index" />
		<add key="URL_CAPTHEM_BN" value="http://localhost:5485/NgoaiDonHang/CapThemBenNgoaiDonHang" />
	
		<add key="TyGiaTime" value="08:00" />

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPPlus.Interfaces" publicKeyToken="a694d7f3b0907a61" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.1.1.0" newVersion="6.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPPlus.System.Drawing" publicKeyToken="2308d35469c9bac0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>